body {
    background: black;
    margin-top: 15%;
}

.centered {
    margin: auto;
    display: block;
}

h1 {
    text-align: center;
    color: #00cc00;
    font-size: 4em;
}

#start-button {
    background: #333333;
    color: #00cc00;
    font-size: 2em;
    margin-top: 10%;
}